﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Витрина банковских гарантий</title>
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <script src="~/Scripts/fontawesome/all.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

    <script type="text/javascript">
        function OnInit(s, e) {
            AdjustSize();
            ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
                AdjustSize();
            });
        }
        function OnEndCallback(s, e) {
            AdjustSize();
        }
        function AdjustSize() {
            var height = document.documentElement.clientHeight;
            grid.SetHeight(height);
        }

    </script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="content-wrapper">
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>