﻿@using Web.Models
@Html.DevExpress().GridView(settings =>
{
settings.Name = "grid";
settings.CallbackRouteValues = new { Controller = "Home", Action = "DataBindingToLargeDatabasePartial" };

    settings.ClientSideEvents.Init = "OnInit";
    settings.ClientSideEvents.EndCallback = "OnEndCallback";

settings.KeyFieldName = "Id";
settings.Width = Unit.Percentage(100);
    settings.SettingsSearchPanel.CustomEditorName = "search";
settings.SettingsPager.PageSize = 100;
settings.SettingsBehavior.AllowFocusedRow = true;

settings.EnableRowsCache = true;

settings.Settings.ShowHeaderFilterButton = true;
settings.SettingsPopup.HeaderFilter.Height = 200;
settings.SettingsPopup.HeaderFilter.SettingsAdaptivity.MinHeight = 300;

    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Auto;
    settings.Settings.VerticalScrollableHeight = 600;

    settings.Settings.ShowFilterRowMenu = true;
settings.Settings.ShowFilterRow = true;
settings.Settings.ShowGroupPanel = true;
settings.Settings.ShowFooter = true;
settings.CommandColumn.Visible = true;
settings.CommandColumn.ShowSelectCheckbox = true;
settings.CommandColumn.ShowClearFilterButton = true;
    settings.CommandColumn.Width = Unit.Pixel(25);


    settings.Columns.Add(c =>
    {
        c.Width = Unit.Pixel(25);
        c.SetDataItemTemplateContent(cell =>
        {
            ViewContext.Writer.Write("<a target=\"_blank\" href=\"https://google.com\" class=\"fa fa-hand-point-right text-danger\"></a>");
        });
    });

settings.Columns.Add(c =>
{
    c.Caption = "БГ";
    c.FieldName = "Number";
    c.Width = Unit.Pixel(70);
        c.SetDataItemTemplateContent(container =>
    {
            Html.DevExpress().HyperLink(hyperlink =>
        {
                var visibleIndex = container.VisibleIndex;
                var keyValue = container.KeyValue;
                var name = DataBinder.Eval(container.DataItem, "Number");

                hyperlink.Name = "hl1" + keyValue.ToString();
                hyperlink.Properties.Text = name.ToString();
                hyperlink.NavigateUrl = "https://google.com";
                hyperlink.Properties.Target = "_blank";
            }).Render();
        });
});

settings.Columns.Add(c =>
{
    c.Caption = "Принципал";
    c.FieldName = "PrincipalName";
    c.Width = Unit.Pixel(250);

    c.SetDataItemTemplateContent(container =>
    {
            Html.DevExpress().HyperLink(hyperlink =>
        {
                var visibleIndex = container.VisibleIndex;
                var keyValue = container.KeyValue;
                var name = DataBinder.Eval(container.DataItem, "PrincipalName");

                hyperlink.Name = "hl2" + keyValue.ToString();
                hyperlink.Properties.Text = name.ToString();
                hyperlink.NavigateUrl = "https://google.com";
                hyperlink.Properties.Target = "_blank";
            }).Render();
        });
});

settings.Columns.Add(c =>
{
    c.Caption = "ОГРН";
    c.FieldName = "Ogrn";
    c.Width = Unit.Pixel(120);
});

settings.Columns.Add(c =>
{
    c.Caption = "Статус";
    c.FieldName = "Status";
    c.Width = Unit.Pixel(150);
});

settings.Columns.Add(c =>
{
    c.Caption = "Комментарий";
    c.FieldName = "Description";
});

settings.Columns.Add(c =>
{
    c.Caption = "Коммент. верификатора";
    c.FieldName = "VerDescription";
});

settings.Columns.Add(c =>
{
    c.Caption = "Опл";
    c.FieldName = "IsPay";
    c.Width = Unit.Pixel(50);
    c.ColumnType = MVCxGridViewColumnType.CheckBox;
});

settings.Columns.Add(c =>
{
    c.Caption = "Пр-т";
    c.FieldName = "Priority";
    c.Width = Unit.Pixel(50);
    c.SetDataItemTemplateContent(cell =>
    {
        var cellText = cell.Text;
        if (cellText == "1")
        {
            ViewContext.Writer.Write("<a class=\"fa fa-hand-point-up text-success\"></a>");
        }
        else
        {
            ViewContext.Writer.Write("<a class=\"fa fa-hand-point-down text-danger\"></a>");
        }
    });
});

settings.Columns.Add(c =>
{
    c.Caption = "Дата обновл.";
    c.FieldName = "ModifiedOn";
    c.ColumnType = MVCxGridViewColumnType.DateEdit;
    c.PropertiesEdit.DisplayFormatString = "dd.MM.yy HH:mm";
    c.Width = Unit.Pixel(100);
});

    settings.Columns.Add(c =>
    {
        c.Caption = "SLA";
        c.FieldName = "Sla";
        c.Width = Unit.Pixel(40);
        c.SetDataItemTemplateContent(cell =>
        {
            var sla = int.Parse(cell.Text);
            if (sla < 1500)
            {
                ViewContext.Writer.Write("<b class=\"fa fa-hand-point-up text-success\">{0}</b>", TimeSpan.FromSeconds(sla));
            }
            else
            {
                ViewContext.Writer.Write("<b class=\"fa fa-hand-point-down text-danger\">{0}</b>", TimeSpan.FromSeconds(sla));
            }
        });
    });

settings.Columns.Add(c =>
{
    c.Caption = "Сумма";
    c.FieldName = "Amount";
    c.Width = Unit.Pixel(70);
});

settings.Columns.Add(c =>
{
    c.Caption = "Комиссия";
    c.FieldName = "Commission";
    c.Width = Unit.Pixel(70);
});

settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = true;
settings.SettingsDetail.ShowDetailRow = true;
settings.SetDetailRowTemplateContent(c =>
{
    Html.RenderAction("RenderMasterGuarantee", "Home", new { id = DataBinder.Eval(c.DataItem, "Id") });
});

    settings.Toolbars.Add(tb =>
    {
          tb.Enabled = true;
          tb.Position = GridToolbarPosition.Top;
          tb.SettingsAdaptivity.Enabled = true;
          tb.SettingsAdaptivity.EnableCollapseRootItemsToIcons = true;

          tb.Items.Add(b =>
          {
              b.Text = "Фильтр";
              b.Items.Add(i =>
              {
                  i.Text = "Верификация";
              });
              b.Items.Add(i =>
              {
                  i.Text = "Ввод данных";
              });
              b.Items.Add(i =>
              {
                  i.Text = "Бэк";
              });
              b.Items.Add(i =>
              {
                  i.Text = "Согласование проекта";
              });
              b.Items.Add(i =>
              {
                  i.Text = "Ожидание оплаты";
              });
          });

        tb.Items.Add(b =>
        {
            b.Text = "Источник";
            b.Items.Add(i =>
            {
                i.Text = "Все";
            });
            b.Items.Add(i =>
            {
                i.Text = "Портал";
            });
            b.Items.Add(i =>
            {
                i.Text = "ЕЭТП";
            });
            b.Items.Add(i =>
            {
                i.Text = "ВБЦ";
            });
            b.Items.Add(i =>
            {
                i.Text = "API";
            });

        });

         tb.Items.Add(i =>
        {
            i.Text = "Экспорт в";
            i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsDownload16x16office2013;
            i.BeginGroup = true;
            i.AdaptivePriority = 1;
            i.Items.Add(GridViewToolbarCommand.ExportToPdf);
            i.Items.Add(GridViewToolbarCommand.ExportToDocx);
            i.Items.Add(GridViewToolbarCommand.ExportToRtf);
            i.Items.Add(GridViewToolbarCommand.ExportToXls).Text = "Export to XLS(DataAware)";
            i.Items.Add(exportitem =>
            {
                exportitem.Name = "CustomExportToXLS";
                exportitem.Text = "Export to XLS(WYSIWYG)";
                exportitem.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ExportExporttoxls16x16office2013;
            });
            i.Items.Add(GridViewToolbarCommand.ExportToXlsx).Text = "Export to XLSX(DataAware)";
            i.Items.Add(exportitem =>
            {
                exportitem.Name = "CustomExportToXLSX";
                exportitem.Text = "Export to XLSX(WYSIWYG)";
                exportitem.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ExportExporttoxlsx16x16office2013;
            });
        });

        tb.Items.Add(i =>
        {
            i.Alignment = MenuItemAlignment.Right;
            i.SetTemplateContent(c =>
            {
                Html.DevExpress().ButtonEdit(s =>
                {
                    s.Name = "search";
                    s.Properties.NullText = "Поиск...";
                    s.Properties.Buttons
                        .Add()
                        .Image.IconID = DevExpress.Web.ASPxThemes.IconID.FindFind16x16gray;
                }).Render();
            });
        });
    });

    settings.Settings.ShowFooter = true;
    settings.SettingsBehavior.AutoExpandAllGroups = true;

    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Commission").DisplayFormat = "{0:p0}";
    settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Sum, "Total").DisplayFormat = "{0:p0}";



    settings.HtmlDataCellPrepared = (s, e) =>
    {
           var gv = s as MVCxGridView;
           var value = Convert.ToBoolean(gv.GetRowValues(e.VisibleIndex, "IsManyHeaders"));
           if (value && e.DataColumn.FieldName == "PrincipalName")
        {
               e.Cell.BackColor = System.Drawing.Color.LightPink;
           }

       };
}).BindToEF(string.Empty, string.Empty, (s, e) =>
{
    e.QueryableSource = LargeDatabaseDataProvider.Guarantees;
}).GetHtml()
